html, body {
  background: url(../img/noisy_grid.png);
  height: 100% }

.navbar {
  margin: 0;
  background: #a44e4e;
  font-family: 'Arvo';
  font-size: 14pt;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #b96c6c; }
  .navbar a {
    color: whitesmoke !important; }
  .navbar li {
    border-left: 1px solid #b96c6c;
    border-right: 1px solid #b96c6c;
    font-size: 14pt; }

.navigation {
  background: #444444; }
  .navigation .col-md-12 ul {
    padding: 0;
    margin: 0; }
    .navigation .col-md-12 ul li {
      display: inline-block;
      color: whitesmoke;
      padding: 10px;
      font-family: 'Arvo';
      transition: background 0.3s ease; }
      .navigation .col-md-12 ul li:hover {
        background: #515151; }
    .navigation .col-md-12 ul .active {
      background: #a44e4e; }
      .navigation .col-md-12 ul .active:hover {
        background: #a44e4e; }

.content {
  padding-bottom: 60px; }
  .content .content-box h1 {
    text-align: center;
    padding: 10px 0;
    font-family: 'Arvo'; }
  .content .content-box p {
    text-align: justify;
    font-family: 'Arvo'; }

.login-box {
  display: none; }
  .login-box form {
    background: whitesmoke;
    padding: 25px;
    text-align: center;
    border: 1px solid gainsboro; }

.offer {
  background: #444444;
  padding: 20px 0;
  text-align: center; }
  .offer h1 {
    color: whitesmoke;
    font-size: 14pt;
    margin: 0;
    font-family: 'Arvo'; }
  .offer span {
    background: #a44e4e;
    padding: 5px 10px;
    margin: 0 15px;
    border-radius: 5px;
    box-shadow: 0px -1px 0px whitesmoke; }
    .offer span:hover {
      box-shadow: 0px -1px 0px #333;
      background: #813e3e; }

footer {
  background: #a44e4e;
  color: whitesmoke;
  padding: 25px 0;
  font-family: 'Arvo';
  height: 180px; }
  footer h1 {
    font-size: 14pt;
    font-family: 'Arvo'; }
  footer .col-md-4 ul {
    margin: 0;
    padding: 0; }
    footer .col-md-4 ul li {
      list-style-type: none; }
    footer a {
      text-decoration: none;
      color: whitesmoke; }

.wrapper {
  min-height: 100%;
  height: auto !important;
  margin: 0 auto -180px;
}

.push {
  height: 180px;
  clear: both;
}

* {
  margin: 0;
}

.page-title {
  text-align: center;
  padding: 15px 0;
  font-family: 'Arvo';
  font-size: 36pt;
}

.plan-table {
  font-family: 'Arvo';
  text-align: center;
  width: 85%;
  margin-right: auto;
  margin-left: auto;
}

.plan-table thead tr th {
  text-align: center;
}

.plan-table h4 {
  font-size: 18pt;
  font-family: 'Arvo';
}

a:hover, a:visited {
color: whitesmoke;
}

.downdown-menu li a {
background: none !important;
}

.dropdown-menu>li>a {
  background: none !important;
}

.dropdown-menu>li {
  width: 100%;
}