.content {
	padding-bottom: 60px;
	.content-box {
		h1 {
			text-align: center;
			padding: 10px 0;
			font-family: 'Arvo';
		}
		p {
			text-align: justify;
			font-family: 'Arvo';
		}
	}
}

.login-box {
	display: none;
	form {
		background: $tertiary-colour;
		padding: 25px;
		text-align: center;
		border: 1px solid darken($tertiary-colour, 10%);
	}
}