.offer {
	background: $secondary-colour;
	padding: 20px 0;
	text-align: center;

	h1 {
		color: $tertiary-colour;
		font-size: 14pt;
		margin: 0;
		font-family: 'Arvo';
	}

	span {
		background: $primary-colour;
		padding: 5px 10px;
		margin: 0 15px;
		border-radius: 5px;
		box-shadow: 0px -1px 0px $tertiary-colour;

		&:hover {
			box-shadow: 0px -1px 0px #333;
			background: darken($primary-colour, 10%);
		}
	}
}