footer {
	background: $primary-colour;
	color: $tertiary-colour;
	padding: 25px 0;
	font-family: 'Arvo';

	h1 {
		font-size: 14pt;
		font-family: 'Arvo';
	}

	.col-md-4 {
		ul {
			margin: 0;
			padding: 0;

			li {
				list-style-type: none;
			}
		}
	}
}