.navigation {
	background: $secondary-colour;

	.col-md-12 {
		ul {
			padding: 0;
			margin: 0;
			li {
				display: inline-block;
				color: $tertiary-colour;
				padding: 10px;
				font-family: 'Arvo';
				transition: background 0.3s ease;

				&:hover {
					background: lighten($secondary-colour, 5%);
				}
			}

			.active {
				background: $primary-colour;

				&:hover {
					background: $primary-colour;
				}
			}
		}
	}
}