html, body {
	background: url(../img/noisy_grid.png);
}

.navbar {
	margin: 0;
	background: $primary-colour;
	font-family: 'Arvo';
	font-size: 14pt;
	border-radius: 0;
	border: none;
	border-bottom: 1px solid lighten($primary-colour, 10%);

	a {
		color: $tertiary-colour !important;
	}

	li {
		border-left: 1px solid lighten($primary-colour, 10%);
		border-right: 1px solid lighten($primary-colour, 10%);
		font-size: 14pt;
	}

	
}